body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/* HEADER */

.header {
    background: white;
    border-bottom: 1px solid #e5e5e5;
}

/* NAVBAR */

.navbar {
    max-width: 1200px;
    margin: auto;
    padding: 20px 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* LOGO */

.logo img {
    width: 300px;
}

/* NAVIGATION */

.nav-links {
    list-style: none;
    display: flex;
    gap: 35px;
}

.nav-links a {
    text-decoration: none;
    color: #111;
    font-weight: 500;
    font-size: 16px;
}

.nav-links a:hover {
    color: #3b82f6;
}